.block-wrap {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.631);
    padding: 20px;
    z-index: 1;
}

.filter-modal-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    box-shadow: 1px 1px 3px grey, -1px -1px 3px grey;
    border-radius: 12px;
    background-color: white;
    background-image: linear-gradient(45deg, #ce8d8d, transparent);
}

.filter-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.close-filter-wrap-btn {
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
}

.filter-modal-label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter-select {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey, -1px -1px 3px grey;
}

.close-filter-wrap-btn:hover {
    background-color: lightgrey;
}

.apply-filters {
    display: flex;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 15px;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
}

.apply-filters:hover {
    background-color: rgb(43, 43, 199);
}

.clear-filters {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 120px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: darkviolet;
    color: rgb(255, 255, 255);
}

.clear-filters:hover {
    background-color: rgb(166, 2, 236);
}